# Dependencies
node_modules/
.npm/
.npm-global/

# Cache dan temporary files
.cache/
.local/
.config/
.wget-hsts

# Environment
.env
.env.local
.env.*.local

# Build
dist/
build/
*.zip

# Logs
logs/
*.log
npm-debug.log*

# OS
.DS_Store
Thumbs.db
